/* Stiluri de bază */

body {
  background-color: antiquewhite;
  font-family: sans-serif;
}

.navbar {
  background: #001affb7;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

/* Meniu Desktop */
.nav-links ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--accent-color);
}

/* Utilitare */
.menu-toggle {
  display: none;
}
.cart-icon {
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

/* Responsivitate - MOBIL */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    background-color: grey;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    order: 1;
  }

  .hamburger span {
    width: 25px;
    height: 3px;
    background: var(--primary-color);
    transition: 0.3s;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #ed5e5e;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }

  .nav-links ul {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  /* Afișare meniu când checkbox-ul este bifat */
  .menu-toggle:checked ~ .nav-links {
    max-height: 300px;
    border-top: 1px solid #eee4e46c;
  }

  .logo {
    flex-grow: 1;
    margin-left: 20px;
  }
  .nav-icons {
    order: 2;
    margin-left: 15px;
  }
}

.hero {
  border: 1px solid #ccc;
  background-color: antiquewhite;
  padding: 18px;
  text-align: center;
}

h3 {
  text-align: center;
}
